
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  html{
    scroll-behavior: smooth;
    transition: scroll-behavior 0.3s ease-out;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/*CSS RESET ENDS*/

body{
  background-color: rgb(240, 240, 240);
    color:rgb(52, 51, 51);
    font-family:'Playfair Display',sans-serif;
}

/* NAVIGATION */
header,.nav-links{
    display:flex;
}
header{
    margin:0rem 10rem;
    justify-content: space-between;
    align-items:center;
    height:8vh;
}
.nav-links{
    font-family: 'Raleway', sans-serif;
    font-size:1.2rem;
    list-style: none;
    gap:2rem;
}
a{
    font-weight:500;
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-decoration-color: rgb(0, 0, 0);;
}
a:hover{
    color:rgb(0, 0, 0);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    
}
.logo{
    cursor:pointer;
    color:rgb(41,62,51);
    font-family: 'Comfortaa','sans-serif';
    font-size:1.2rem;
    font-weight:700;
}
div>header>a:hover{
  text-decoration: none;

}
/* SECTIONS */
section,footer{
    height:90vh;
    margin:5rem 10rem;
    margin-bottom:0rem;
}

/* PROFILE */
#Profile{
  height:80vh;
  display:flex;
  align-items:center;
}
.profile{
  background-image: url('../images/profile.png');
  background-size:35rem 35rem;
  right:10rem;
  background-position: right top;
  background-repeat: no-repeat;
}
.section_text{
  display:flex;
  flex-direction: column;
  gap:0.2rem;
  height: 50vh;
  width:60vh;
  margin-bottom:10rem;
}
.text_p1{
  color:rgb(0,154,110);
  font-weight:bold;
  font-family: 'Nunito',sans-serif;
}
h1{
  font-size:3rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.text_p2{
  margin-top:1rem;
  font-family: 'Nunito',sans-serif;
  font-size:1.2rem;
  color:rgb(71, 71, 71);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.section_buttons{
  font-family: 'Nunito',sans-serif;
  display:flex;
  gap:0.5rem;
  margin-top:1rem;
}
button{
  transition:all ease 300ms;
  border-radius:8px;
  padding:0.3rem 1rem;
  font-weight: bold;
}
.button_projects{
  color:rgb(0, 0, 0);
  background-color:rgb(0,154,110);
  border:2px solid rgba(0, 155, 110);
}
.button_projects:hover{
  background-color: white;
  border:2px solid rgba(0, 155, 110);
}
.button_linkedIn{
  border:2px solid rgba(0, 155, 110);
}
.button_linkedIn:hover{
  
  background-color:rgb(0,154,110);
}
/* ABOUT */
#About{
  margin-top:0rem;
  height:80vh;
}
.about-container{
  padding-top:1rem;
  display:grid;
  grid-template-columns: 50% 50%;
  column-gap: 5rem;
  align-items:center;
}
.about-container .section_text{
  padding-top:7rem;
}

.about-pic{
  width:500px;
  height:auto;
}

/* PROJECTS */
#Projects{ 
  height:280vh;
  
  margin-bottom:10rem;
}
.title {
  padding-top: 5rem;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  position:relative;
}
.title::after {
  content: '';
  position: absolute;
  text-align:center;
  bottom: -10px;
  left: 47%;
  width: 130px;
  max-width:7%;
  height: 3px;
  background-color: rgb(0, 120, 86);
}
.project-containers{
  padding-top:2rem;
  display:grid;
  margin:5rem 0;
  justify-content: center;
  row-gap:5rem;
}
.project-container{
  width:992px;
  height:524px;
  background:white;
  display:grid;
  grid-template-columns: 50% 50%;
  border-radius:25px;
}
.project-container:nth-child(even){
  display:flex;
  flex-direction: row-reverse;
  
}
.project-container:nth-child(even) img{
  width:1020px;
  height:524px;
  border-radius:25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.project-text{
  gap:24px;
  padding: 146.5px 38.88px 145.5px 50.44px;
  display:flex;
  flex-direction: column;
}
.proj-image{
  width:496px;
  height:524px;
  border-radius:25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.project_h2{
  font-family: 'Playfair Display','sans-serif';
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
}
.project_p{
  font-family: 'Nunito','sans-serif';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
.button_viewProject{
  border: 1px solid #25282B;
  width:150px;
  height: 43px;
  background:white;
  padding: 8px 24px 8px 24px;
  gap: 0px;
  border-radius: 24px;
  opacity: 0px;
}
/* FOOTER */
footer{
  margin-top:0;
  text-align: center;
  height:20vh;
  
}
.icons{
  display:flex;
  text-align:center;
  justify-content: center;
  gap:2rem;
}
footer>div>a>img{
  height:40px;
  width:40px;
}
.footer_text{
  cursor:default;
  font-size: small;
  margin-top:0.5rem;
  text-align: center;
}
/* ABOUT FUNCTION */
section{
    display: block;
}
.inactive{
  display:none;
}